<div class="student-nav role">
    <a href="/student/bookings">My learning</a>
    <form action="/student/search">
        <label for="course">Search course : </label>
        <input type="text" name="course" placeholder="e.g : Python">
    </form>
</div>