<div class="student-nav role">
    <form action="/student/search">
        <label for="course">Search course name</label>
        <input type="text" name="course">
    </form>
    <a href="/student/bookings">My learning</a>
</div>