<%- include("./components/__head", { title : "Log In", auth}) %>
<div class="hero-container">
    <div class="image-container">
        <img src="" alt="">
    </div>
    <h1></h1>
</div>
    
</body>
</html>