<div>
    <div class="tab">
        <div class="tab-options">
            <a href="/auth?tab=log-in">Log-In</a>
            <a href="/auth?tab=register">Register</a>
        </div>
        <%- include("__form", { action, method, type }) %>
    </div>

</div>