<%- include("../components/__head", { title : slugToPascal(tab)}) %>
   <main>
      <div>
         <%- errors && include("../components/__errorMessages", { errors }) %>
         <%- 
            include(
               "__tab", 
               { action : "/auth/" + tab, method: "Post", type: slugToPascal(tab) }
            ) 
         %>
      </div>
   </main>
</body>
</html>